.mainbox {
    width: 100vw;
    background-color : "#E6E6FA";
}

.inputRounded .MuiOutlinedInput-root {
    border-radius: 20px;
  }
  
.mainbox2 {

    display : "flex";
    flex-direction: "row";
}

.filebox .fileUpload {
    display: flex;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    border-radius: 10px;

    width: 78%;
    color: #999999;
}

.filebox label {
    display: flex;
    width: 70px;
    color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    background-color: #999999;
    cursor: pointer;
    height: 40px;
    font-family: "NanumSquareNeo-bRg";
    font-size: 16px;
    box-shadow: 0px 0px 20px -12px #000;
}

.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button {
    /* 생략 */
    margin: 0;
    padding: 0.5rem 1rem;
  
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    height: 40px;
    display: inline-block;
    width: auto;
  
    border: none;
    border-radius: 4px;
  }